In [ ]:
import requests
url = 'https://www.melon.com/chart/'
req = requests.get(url)
req.text

''

In [ ]:
#크롤링 하고있지만 자신이 사람인 것처럼 스탠스를 취함.
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}
req = requests.get(url, headers=header)

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(req.text, 'html.parser')

### 1. 원하는 목록 찾기(tr - 테이블 , li - 리스트)

In [ ]:
trs = soup.find_all('tr')
len(trs)

101

In [ ]:
#trs = soup.select('.service_list_song.type02.d_song_list > table > tbody > tr')
trs = soup.select('#frm > div > table > tbody > tr')
len(trs)

100

### 2. 하나를 선택해서 원하는 정보 추출하기

In [ ]:
tr = trs[0]

In [ ]:
# 순위
rank = int(tr.select_one('.rank').get_text().strip())    #strip() > 앞뒤의 찌꺼기 파일을 지워줌
rank

1

In [ ]:
#제목
title = tr.select_one('.ellipsis.rank01').get_text().strip()
title

'그때 그 순간 그대로 (그그그)'

In [ ]:
#가수
artist = tr.select_one('.ellipsis.rank02 > a').get_text().strip()
artist

'WSG워너비 (가야G)'

In [ ]:
# 앨범
album = tr.select_one('.ellipsis.rank03').get_text().strip()
album

'WSG워너비 1집'

In [ ]:
#좋아요   -- 셀레니움을 통해서만이 가져올 수 있음.
like = tr.select_one('.cnt')
like

<span class="cnt">
<span class="none">총건수</span>
												0
											</span>

### 3. 반복문으로 모든 데이터 가져오기

In [ ]:
lines = []
for tr in trs:
    rank = int(tr.select_one('.rank').get_text().strip())
    title = tr.select_one('.ellipsis.rank01').get_text().strip()
    artist = tr.select_one('.ellipsis.rank02 > a').get_text().strip()
    album = tr.select_one('.ellipsis.rank03').get_text().strip()
    lines.append([rank, title, artist, album])

### 4. DataFrame으로 만들어서 저장하기

In [ ]:
import pandas as pd
df = pd.DataFrame(lines, columns=['순위', '제목', '가수', '앨범'])
df.head()

   순위                 제목              가수                           앨범
0   1  그때 그 순간 그대로 (그그그)    WSG워너비 (가야G)                    WSG워너비 1집
1   2              보고싶었어  WSG워너비 (4FIRE)                    WSG워너비 1집
2   3          Attention        NewJeans  NewJeans 1st EP 'New Jeans'
3   4          LOVE DIVE       IVE (아이브)                    LOVE DIVE
4   5           SNEAKERS       ITZY (있지)                    CHECKMATE

In [ ]:
df.to_csv('멜론차트Top100(20220808).csv')

In [ ]:
x = pd.read_csv('멜론차트Top100(20220808).csv')
x.head()

,Unnamed: 0,순위,제목,가수,앨범
0,0,1,그때 그 순간 그대로 (그그그),WSG워너비 (가야G),WSG워너비 1집
1,1,2,보고싶었어,WSG워너비 (4FIRE),WSG워너비 1집
2,2,3,Attention,NewJeans,NewJeans 1st EP 'New Jeans'
3,3,4,LOVE DIVE,IVE (아이브),LOVE DIVE
4,4,5,SNEAKERS,ITZY (있지),CHECKMATE

In [ ]:
df.to_csv('멜론차트Top100(20220808).csv',index=False)